<a href="https://colab.research.google.com/github/HinduSri/python-lab/blob/main/19A21A0588_Hindu_Sri.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 Name    : K. Hindu Sri
 
 
 Regno.  : 19A21A0588
 
 Section : CSE - B

 EXERCISE-1 
 
a)Write a program in interactive, interpreter, python script mode.
 
b)Write a program to purposefully raise Indentation Error and Correct it.

In [ ]:
 
#1.A
a=88
b=99
a,b=b,a
print(a,b)

99 88

In [ ]:
#1.B
#program with Indentation Error
a=10
b=5
if a>b :
  print("a is big")
else :
print("b is big")

IndentationError: ignored

In [ ]:
 #1.B
#program without Indentation Error
a=10
b=5
if a>b :
  print("a is big")
else :
  print("b is big")

a is big

 EXERCISE-2
 
a)Compute distance between two points.
 
b)Take two numbers on command line arguments and print the sum.

In [ ]:
 
#2.A-1
#program to find distance between two points
x1=10
x2=50
y1=12
y2=20
z=(pow((x2-x1),2)+pow((y2-y1),2))**0.5
print(z)

40.792156108742276

In [ ]:
 
#2.A-2
#Program to find distance between two points
import math
x1=int(input("enter  x1 value:"))
x2=int(input("enter  x2 value:"))
y1=int(input("enter  y1 value:"))
y2=int(input("enter  y2 value:"))
z=math.sqrt((x2-x1)**2+(y2-y1)**2)
print("the distance between two points is :",z)
print("the distance between two points is :",z,sep='\t')
print("the distance between ({}, {})and ({},{}) is  :{}".format(x1,y1,x2,y2,z))
 
print("the distance between (%d, %d)and (%d,%d) is  :%f"%(x1,y1,x2,y2,z))

enter  x1 value:5
enter  x2 value:3
enter  y1 value:9
enter  y2 value:1
the distance between two points is : 8.246211251235321
the distance between two points is :	8.246211251235321
the distance between (5, 9)and (3,1) is  :8.246211251235321
the distance between (5, 9)and (3,1) is  :8.246211

In [ ]:
#2.B
#program to take inputs through command line and print their sum
 
import sys
a = int(sys.argv[1])
b = int(sys.argv[2])
sum=a+b
print("Sum of two numbers is:",sum)

 EXERCISE-3 
 
a) Write a Program for checking whether the given number is an even number or not.
 
b) Using a for loop, write a program that prints out the decimal equivalents of 1/2, 1/3, 1/4, . . . . ., 1/10.
 
c) Write a program using a for loop that loops over a sequence. What is sequence?
 
d) Write a program using a while loop that asks the user for a number, and prints a countdown from that number to zero.

In [ ]:
 
#3.A
#check the given number is even number or not
n=int(input("enter a number:"))
if (n%2)==0:
        print("given number is even")
else:
      print("given number is odd")

enter a number:50
given number is even

In [ ]:
 
#3.B
#program to print decimal equivalents of 1/2,1/3,...,1/10
n=int(input("enter a number:"))
for i in range(2,n):
    de=1/i;
    print("1/",i,"=",de)

enter a number:10
1/ 2 = 0.5
1/ 3 = 0.3333333333333333
1/ 4 = 0.25
1/ 5 = 0.2
1/ 6 = 0.16666666666666666
1/ 7 = 0.14285714285714285
1/ 8 = 0.125
1/ 9 = 0.1111111111111111

In [ ]:

#3.C
#program using a for  loop that loops over a sequence
#Number Sequence
print("Number Sequence")
num=[45,2,6,7,9,-34,89]
for i in num:
    print(i)
 
#String Sequence
print("String Sequence")
days=["sun","mon","tue","wed","thu","fri","sat"]
for d in days:
    print(d)
    
#both sequence
print("Sequence")
arr=[4,"abc",-45,'C',10.5,True,5,10.6,"xyz"]
for x in arr:
      print(x)

Number Sequence
45
2
6
7
9
-34
89
String Sequence
sun
mon
tue
wed
thu
fri
sat
Sequence
4
abc
-45
C
10.5
True
5
10.6
xyz

In [ ]:
#3.D
#countdown seq
n=int(input("enter the number:"))
while n>=0:
      print(n)
      n=n-1

enter the number:15
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

 EXERCISE-4 
 
a) Find the sum of all the primes below two million. Each new term in the Fibonacci sequence is generated by adding the previous two .By starting with 1 and 2, the first 10 terms will be: 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, ...
 
b) By considering the terms in the Fibonacci Sequence whose values do not exceed four million,find the sum of the even-valued terms.

In [ ]:
#4.A
n=int(input("enter a number:"))
c=0
st=" "
sum=0
 
for i in range(2,n):
   state=True
   for j in range(2,i):
      if(i%j==0):
         state=False
         break;
   if state==True:
         st+=" "+str(i)
         c+=1
         sum+=i
 
print("Prime Numbers")
print(st)
 
print("Total count of the prime numbers:",c)
print("Sum of all prime numbers:",sum)

enter a number:100
Prime Numbers
  2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97
Total count of the prime numbers: 25
Sum of all prime numbers: 1060

In [ ]:
#4.B
n=int(input("enter a number:"))
a=0
b=1
c=a+b
sum=0
 
print("even numbers in fibonnacci series is:",end='')
while c<=n:
    if c%2==0:
      print(c,end=' ')
      sum+=c        
    a=b
    b=c 
    c=a+b
print("\nSum of fibonacci series is:",sum)

enter a number:10
even numbers in fibonnacci series is:2 8
Sum of fibonacci series is: 10

 EXERCISE-5
 
DS

a) Write a program to count the numbers of characters in the string and store them in a dictionary data structure
 
b) Write a program to use split and join methods in the string and trace a birthday with a dictionary data structure.

In [ ]:

#5.A
name=input("enter a name:")
dic={}
for ch in name:
    keys=dic.keys()
 
    if(ch in keys):
        dic[ch]=dic[ch]+1
    else:
        dic[ch]=1
 
print("dictionary is:",dic)

enter a name:Hello
dictionary is: {'H': 1, 'e': 1, 'l': 2, 'o': 1}

In [ ]:

#5.B
dob={"sri":"14-05-2002","sai":"14-04-2002"}
name=input("enter which person dob u want:")
l=name.split()
birth=""
for i in l:
    if i in dob.keys():
        pers=i
 
print("".join([pers," birthday is :",dob[pers]]))

enter which person dob u want:sai
sai birthday is :14-04-2002

EXERCISE-6 DS - Continued
 
a) Write a program combine lists that combines these lists into a dictionary.
 
b) Write a program to count frequency of characters in a given file. Can you use characterfrequency to tell whether the given file is a Python program file, C program file or a text file?

In [ ]:
 
#6.A
sub=["daa","os","dbms","p&s","ppl","se"]
marks=[85,96,75,65,83,56]
print(sub)
print(marks)
dic=dict(zip(sub,marks))
print(dic)

['daa', 'os', 'dbms', 'p&s', 'ppl', 'se']
[85, 96, 75, 65, 83, 56]
{'daa': 85, 'os': 96, 'dbms': 75, 'p&s': 65, 'ppl': 83, 'se': 56}

In [ ]:
 
#6.B
filetypes=['.py','.c','.txt']
fn=input("enter a file name:")
f=open(fn,"r")
count=dict()
for  ft in filetypes:
     if(ft in  fn):
           if(ft=='.py'):
             print("Python File")
           elif(ft=='.c'):
             print("C File")
           elif(ft=='.txt'):
             print("Text File")
 
 
for line in f:
     for ch in line:
          if ch in count:
               count[ch]=count[ch]+1
 
          else:
              count[ch]=1
 
 
print(count)
f.close()

 EXCERCISE-7
 
 Files

a) Write a program to print each line of a file in reverse order.
 
b) Write a program to compute the number of characters, words and lines in a file.

In [ ]:
 
#7.A
obj=open("sam.txt","r")
if obj:
    st=obj.read()
    print("file content is:")
obj.close()
print()
lines=st.split('\n')
for ln in lines:
    i=len(ln)-1
    while(i>=0):
      print(ln[i],end='') 
      i=i-1
    print()

In [ ]:
 
#7.B
obj=open("sam.txt","r")
if obj:
    st=obj.read()
    print("file content is:")
obj.close()
print()
nc=nw=nl=0
for ch in st:
    if(ch):
        nc=nc+1
    if(ch==''):
        nw=nw+1
    if(ch=='\n'):
        nl=nl+1
 
print("number of characters in a file:",nc)
print("number of words in file is:",nw)
print("number of lines ins file:",nl)

 EXCERCISE-8
 
Functions
 
a) Write a function ball collide that takes two balls as parameters and computes if they are colliding. Your function should return a Boolean representing whether or not the balls are colliding. Hint: Represent a ball on a plane as a tuple of (x, y, r), r being the radius If (distance between two balls centers) <= (sum of their radii) then (they are colliding)
 
b) Find mean, median, mode for the given set of numbers in a list.

In [ ]:
 
#8.A
import math
def ballcollide(b1tup,b2tup):
    x1=b1tup[0]
    y1=b1tup[1]
    x2=b2tup[0]
    y2=b2tup[1]
    r1=b1tup[2]
    r2=b2tup[2]
 
 
    d=math.sqrt((x2-x1)**2+(y2-y1)**2)
    if(d<=r1+r2):
      return True
    else:
        return False
 
 
ball1=(1,2,3)
ball2=(3,2,1)
c=ballcollide(ball1,ball2)
if(c):
    print("balls are collided")
else:
    print("ball are not collided")

balls are collided

In [ ]:
 
#8.B
def list_mean(num_list):
   return sum(num_list)/len(num_list) 
 
def list_median(num_list):
    num_list.sort()
    print(num_list)
    n=len(num_list)
    print("Total :",n)
    mid=n//2
    print("Mid:",mid)
    if (n%2==1):
        return num_list[mid]
    else:
        return (num_list[mid-1]+num_list[mid])/2
 
def list_mode(num_list):
    num_list.sort()
    temp=[]
    i=0
    while i<len(num_list):
        temp.append(num_list.count(num_list[i]))
        i+=1
    dic=dict(zip(num_list,temp))
    mode={k for (k,v) in dic.items() if v==max(temp)}
    return mode
 
lst=[1,1,2,2,3,4,5,3,3]
 
print("Given list is :",lst)
#print("Mean of given list:",list_mean(lst))
print("Median of given list:",list_median(lst))
print("Mode of given list:",list_mode(lst))

Given list is : [1, 1, 2, 2, 3, 4, 5, 3, 3]
[1, 1, 2, 2, 3, 3, 3, 4, 5]
Total : 9
Mid: 4
Median of given list: 3
Mode of given list: {3}

 EXERCISE - 9 Functions - Continued
 
a) Write a function nearly equal to test whether two strings are nearly equal. Two strings a and bare nearly equal when a can be generated by a single mutation on b.
 
b) Write a function dup to find all duplicates in the list.
 
c) Write a function unique to find all the unique elements of a list.

In [ ]:
 
#9.A
def nearlyeq(str1,str2):
    count=0
    i=j=0
    ss=0
    while(i<len(str1)and j<len(str2)):
        if(str1[i]!=str2[j]):
            count+=1
        if(len(str1)>len(str2)):
            i+=1
 
        elif(len(str1)==len(str2)):
            pass
        else:
            i-=1     
        if(count>1):
             ss-=1
             
        i+=1
        j+=1
        if(count<2):
             ss+=1
 
    return ss
s1=input("enter a string 1:")
s2=input("enter a string 2:")
t=nearlyeq(s1,s2)
if(t>1):
    print("Strings are nearly equal")
else:
    print("Strings are not nearly equal")

enter a string 1:Hindi
enter a string 2:Hindu
Strings are nearly equal

In [ ]:
#9.B
def dup(list):
  list1=[]
  for i in list:
    count=list.count(i)
    if(count>1 and (i not in list1)):
        list1.append(i)
        
  print("The duplicates in the list are:",list1)        
list2=[1,2,1,2,5,9,7,5]
 
dup(list2)

The duplicates in the list are: [1, 2, 5]

In [ ]:
#9.C
def unique(list1):
  list2={}
 
  for i in list1:
    c=list1.count(i)
    if c==1:
      list2[i]=c
  print("the unique elements in the list are:",list2)
 
list=[1,2,3,45,45,6,88,88,9]
unique(list)

the unique elements in the list are: {1: 1, 2: 1, 3: 1, 6: 1, 9: 1}

EXERCISE - 10 - Functions - Problem Solving
 
a) Write a function cumulative product to compute cumulative product of a list of numbers.
 
b) Write a function reverse to reverse a list. Without using the reverse function.
 
c) Write function to compute gcd, lcm of two numbers. Each function shouldnâ€™t exceed one line

In [ ]:

#10.A
def cum_prod(numlist):
    prod=1
    temp=[]
   
    for i in numlist:
        prod*=i
        temp.append(prod)
    return temp
lst=[1,2,4,5,3]
 
print("Given list is :",lst)
print("Cumulative Product List is :",cum_prod(lst))

Given list is : [1, 2, 4, 5, 3]
Cumulative Product List is : [1, 2, 8, 40, 120]

In [ ]:
 
#10.B
def reverse_list(numlist):
    i=0
    j=len(numlist)-1
    while (i<=j):
      temp=numlist[i]
      numlist[i]=numlist[j]
      numlist[j]=temp
      j-=1
      i+=1
    return numlist
list1=[1,2,3,4]
print("Given list is :",list1)
print("After Reverse Function:",reverse_list(list1))
print("After list is:",list1)

Given list is : [1, 2, 3, 4]
After Reverse Function: [4, 3, 2, 1]
After list is: [4, 3, 2, 1]

In [ ]:
 
#10.C
gcd=lambda a,b: a if b==0 else gcd(a,a%b)
lcm=lambda a,b: (a*b)/gcd(a,b)
 
x=4
y=24
print("gcd=",gcd(x,y))
print("lcm=",lcm(x,y))

gcd= 4
lcm= 24.0